  * {
      box-sizing: border-box;
      scrollbar-color: magenta #000000;

  }

  body {
      /* background-image: url("images/overlay.png"), url("images/newbg.gif"); */
      background-image: linear-gradient(to top, #640039, #4c0a2b, #350d1e, #200a12, #000000);
      background-repeat: repeat, no-repeat;
      background-size: auto, 100% 100%;
      background-attachment: fixed;
      overflow-y: auto;
      color: white;
      image-rendering: pixelated;
  }

  a {
      text-decoration: none;
  }

  a>span:hover {
      color: aqua !important;
  }

  .logo {
      height: 100%;
      width: 342px;
  }

  .portrait {
      width: 132px;
      height: 132px;

  }

  .party-container {
      display: flex;
      flex-direction: row;
      width: 100%;
      gap: 10px;
  }

  .profile-menu-section {
      height: 100%;
      width: 40%;
      display: flex;
      flex-direction: column;
      gap: 10px;
  }

  .profile-menu-section-header {
      border-image: url(images/borderimg2.png) 30 round !important;
      border: solid 12px transparent;
      display: flex;
      flex-direction: row;
      width: 100%;
      gap: 10px;
      height: 25%;
      align-items: center;
      overflow-y: none;
      overflow-x: none;
  }

  .profile-menu-section-list-container {
      border-image: url(images/borderimg2.png) 30 round !important;
      border: solid 12px transparent;
      width: 100%;
      height: 75%;
  }

  .profile-menu-section-list-container>ul {
      list-style: none;
      gap: 10px;
      font-family: "Press Start 2P";
      font-size: 24px;
  }

  .profile-menu-section-list-container>ul>li {
      height: 30px;
      margin-bottom: 10px;
      margin-left: 20px;
  }

  .profile-menu-section-list-container>ul>li>a {
      text-decoration: none;
      color: white;
  }


  .profile-menu-section-list-container>ul>li:hover {
      list-style: url(images/pointer.png);
  }

  .profile-menu-section-list-container>ul>li>a:hover {
      cursor: pointer;
  }

  .profile-menu-section-header-text {
      font-family: "Press Start 2P";
      font-size: 17px;
      display: flex;
      flex-direction: column;
      width: 100%;
      gap: 4px;
      justify-content: center;
      overflow-x: hidden;
  }

  .profile-menu-section-header-text-row {
      display: flex;
      justify-content: space-between;
      font-size: 16px;
      font-family: "Press Start 2P";
  }

  .content-info-section {
      padding: 15px;
      border-image: url(images/borderimg2.png) 30 round !important;
      border: solid 12px transparent;
      width: 60%;
      overflow-y: scroll;
  }

  .content-info-header {
      font-family: "Press Start 2P";
      font-size: 32px;
      margin-bottom: 12px;
      color: aqua
  }

  .content-info-body {
      font-family: "Pixelify Sans";
      font-size: 22px;
  }

  .content-info-body>ul>li {
      list-style: url(images/star.png);
  }

  .content-info-body>ul>li {
      font-family: "Pixelify Sans";
  }

  .emphasize {
      color: hotpink;
  }

  .all-container {
      margin: 10px;
      border: 12px solid transparent;
      background-color: black;
      border-image: url(images/borderimg.png) 30 round;
      border-radius: 25px;
      background-size: 100% 100%;
      display: flex;
      height: 73vh;
      width: 65vw;
      padding: .5em;
      justify-content: center;
      flex-direction: row;
      overflow: hidden;
  }


  @media only screen and (max-width: 1290px) {
      .profile-menu-section-header {
          flex-direction: column;
      }
  }

  @media only screen and (max-width: 1120px) {
      .party-container {
          flex-direction: column;
      }

      .profile-menu-section-header {
          flex-direction: row;
          height: 100%;
      }

      .profile-menu-section {
          width: 100%;
          height: auto;
      }

      .profile-menu-section-list-container>ul>li {
          float: left;
          font-size: 16px;
          margin: 20px;
      }

      .content-info-section {
          width: 100%;
          height: 100%;
      }

      .all-container {
          height: 100vw;
      }
  }

  @media only screen and (max-width: 1000px) {
      .party-container {
          flex-direction: column;
      }

      .profile-menu-section-header {
          flex-direction: row;
          height: 100%;
      }

      .profile-menu-section {
          width: 100%;
          height: auto;
      }

      .profile-menu-section-list-container {
          display: flex;
          justify-content: center;
          align-items: center;
      }

      .profile-menu-section-list-container>ul {
          margin: 10px 0px 0px 0px;
          padding: 0px;
      }

      .profile-menu-section-list-container>ul>li {
          list-style: none !important;
          float: left;
          font-size: 14px;
          margin: 0px 15px 0px 15px;
      }

      .content-info-section {
          width: 100%;
          height: 100%;
      }

      .all-container {
          height: 80vh;
      }
  }

  @media only screen and (max-width: 800px) {
      .profile-menu-section-list-container>ul>li {
          font-size: 12px;
      }
  }

  @media only screen and (max-width: 727px) {
      .logo {
          width: 150px;
      }

      .portrait {
          height: 72px;
          width: 72px;
      }

      .profile-menu-section-header-text-row {
          font-size: 10px !important;
      }

      .profile-menu-section-list-container>ul>li {
          font-size: 12px;
          margin: 0px 5px 0px 5px;
      }

      .content-info-header {
          font-size: 14px;
      }

      .content-info-body {
          font-size: 12px;
      }

      .all-container {
          height: auto;
      }
  }

  @media only screen and (max-width: 660px) {
      .profile-menu-section-header-text-row {
          font-size: 10px !important;
      }

      .profile-menu-section-list-container>ul>li {
          font-size: 10px;
          margin: 0px 2px 0px 5px;
      }
  }

  @media only screen and (max-width: 512px) {
      .logo {
          width: 90px;
      }

      .portrait {
          height: 72px;
          width: 72px;
      }

      .profile-menu-section-header {
          flex-direction: column;
      }

      .profile-menu-section-header-text-row {
          font-size: 8px !important;
      }

      .profile-menu-section-list-container>ul>li {
          font-size: 10px;
          margin: 0px 5px 0px 5px;
      }

      .content-info-header {
          font-size: 14px;
      }

      .content-info-body {
          font-size: 12px;
      }
  }
